{% extends 'base.html.twig' %}

{% block title %} Add post {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% embed "@App/post/_form.html.twig" with {'form':form} %}{% endembed %}
        </div>
    </div>
{% endblock %}
